	body{
		background-color: #7F7FD5;
	}
	nav{
		background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

	}
#cadre{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}

		.chat{
			margin-top: auto;
			margin-bottom: auto;
		}
		.card{
			height: 500px;
			border-radius: 15px !important;
			background-color: rgba(0,0,0,0.4) !important;
		}
		.contacts_body{
			padding:  0.75rem 0 !important;
			overflow-y: auto;
			white-space: nowrap;
		}
		.msg_card_body{
			overflow-y: auto;
		}
		.card-header{
			border-radius: 15px 15px 0 0 !important;
			border-bottom: 0 !important;
		}
	 .card-footer{
		border-radius: 0 0 15px 15px !important;
			border-top: 0 !important;
	}
		.container{
			align-content: center;
		}
		.search{
			border-radius: 15px 0 0 15px !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
		}
		.search:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.type_msg{
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color:white !important;
			height: 60px !important;
			overflow-y: auto;
		}
			.type_msg:focus{
		     box-shadow:none !important;
           outline:0px !important;
		}
		.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.search_btn{
			border-radius: 0 15px 15px 0 !important;
			background-color: rgba(0,0,0,0.3) !important;
			border:0 !important;
			color: white !important;
			cursor: pointer;
		}
		.contacts{
			list-style: none;
			padding: 0;
		}
		.contacts li{
			width: 100% !important;
			padding: 5px 10px;
			margin-bottom: 15px !important;
		}
	.active{
			background-color: rgba(0,0,0,0.3);
	}
		.user_img{
			height: 70px;
			width: 70px;
			border:1.5px solid #f5f6fa;
		
		}
		.user_img_msg{
			height: 40px;
			width: 40px;
			border:1.5px solid #f5f6fa;
		
		}
	.img_cont{
			position: relative;
			height: 70px;
			width: 70px;
	}
	.img_cont_msg{
			height: 40px;
			width: 40px;
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	.offline{
		background-color: #c23616 !important;
	}
	.user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	.user_info span{
		font-size: 20px;
		color: white;
	}
	.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
	}
	.video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	.video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	.msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	.msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	.msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	.msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		color: white;
		cursor: pointer;
		font-size: 20px;
	}
	.center {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.popup {
		width:99%;
		height:95%;
		padding:30px 20px;
		background:#f5f5f5;
		border-radius:10px;
		box-sizing:border-box;
		z-index:2;
		text-align:center;
		opacity:0;
		top:-200%;
		transform:translate(-50%,-50%) scale(0.5);
		transition: opacity 300ms ease-in-out,
		top 1000ms ease-in-out,
		transform 1000ms ease-in-out;
	}
	.popup.active {
		opacity:1;
		top:50%;
		transform:translate(-50%,-50%) scale(1);
		transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
	}
	.popup .icon {
		margin:5px 0px;
		width:50px;
		height:50px;
		border:2px solid #34f234;
		text-align:center;
		display:inline-block;
		border-radius:50%;
		line-height:60px;
	}
	.popup .icon i.fa {
		font-size:30px;
		color:#34f234;
	}
	.popup .title {
		margin:5px 0px;
		font-size:30px;
		font-weight:600;
	}
	.popup .description {
		color:#222;
		font-size:15px;
		padding:5px;
	}
	.popup .dismiss-btn {
		margin-top:15px;
	}
	.popup .dismiss-btn button {
		padding:10px 20px;
		background:#111;
		color:#f5f5f5;
		border:2px solid #111;
		font-size:16px;
		font-weight:600;
		outline:none;
		border-radius:10px;
		cursor:pointer;
		transition: all 300ms ease-in-out;
	}
	.popup .dismiss-btn button:hover {
		color:#111;
		background:#f5f5f5;
	}
	.popup > div {
		position:relative;
		top:10px;
		opacity:0;
	}
	.popup.active > div {
		top:0px;
		opacity:1;
	}
	.popup.active .icon {
		transition: all 300ms ease-in-out 250ms;
	}
	.popup.active .title {
		transition: all 300ms ease-in-out 300ms;
	}
	.popup.active .description {
		transition: all 300ms ease-in-out 350ms;
	}
	.popup.active .dismiss-btn {
		transition: all 300ms ease-in-out 400ms;
	}

	.action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	.action_menu ul{
		list-style: none;
		padding: 0;
	margin: 0;
	}
	.action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	.action_menu ul li i{
		padding-right: 10px;
	
	}
	.action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}

	.glob{
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}
	.cardre{
		position: relative;
		width: 600px;
		height: 350px;
		/*background: #ccc;*/
		border-radius: 20px;
		display: flex;
		align-items: center;
		transition: 0.5s
	}
	.cardre .cercle{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.cardre .cercle:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #d83133;
		clip-path: circle(120px at center);
		transform: 0.5s;
	}
	.cardre:hover .cercle:before{
		clip-path: circle(400px at center);
		background: #0065c3;

	}
	.cardre img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,50%);
		height: 300px;
		pointer-events: none;
		transition: 0.5s;
	}
	.cardre:hover img{
		left: 72%;
		height: 500px;
	}
	.cardre .contenue_cadre{
		position: relative;
		left: 20%;
		width: 50%;
		padding: 20px 20px 20px 40px;
		transition: 0.5s;
		opacity: 0;
		visibility: hidden;
	}
	.cardre:hover .contenue_cadre{
		left: 0;
		opacity: 1;
		visibility: visible;
	}
	.cardre .contenue_cadre h2{
		color: #fff;
		text-transform: uppercase;
		font-size: 2em;
		line-height: 1em;
		margin-bottom: 5px;
	}
	.cardre .contenue_cadre p{
		color: #fff;
	}
	.cardre .contenue_cadre a{
		color: #fff;
		padding: 10px 20px;
		border-radius: 10px;
		background: #fff;
		color: #111;
		margin-top: 10px;
		display: inline-block;
		text-decoration: none;
		font-weight: 700;
	}
	@media (max-width: 991px){
		.cardre{
			width: auto;
			max-width: 350px;
			align-items: flex-start;
			margin: 10px;
		}
		.cardre:hover{
			height: 600px;

		}
		.cardre .contenue_cadre{
			width: 100%;
			left: 0;
			padding: 30px;
		}
		.cardre:hover img{
			top: 70%;
			left: 50%;
			height: 300px;

		}
	}
	@media (max-width: 420px){
		.cardre .contenue_cadre{
			padding: 30px;
		}
	}
	@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
	}