/*Profile Dashbord Fix Css*/
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

/*Forum Css*/
.breadcrumb-item > a {
    color: #414755;
    font-weight: 400;
}

.breadcrumb-item.active > a {
    color: #4FC3F7;
}

a.freinds {
    color: #4FC3F7;
}

a.subject {
    color: #54C8B3;
}

a.stars {
    color: #F1C40F;
}

.justfy-content-space-between {
    justify-content: space-between !important;
}

.forum-msg {
    font-size: 1rem;
    font-weight: 400;
}

.form-control:focus, .select:focus {
    outline: 0;
    border-color: rgb(51, 181, 229);
    box-shadow: 0 0 0 1px rgba(51, 181, 229, .3);
}

.cursor-pointer {
    cursor: pointer;
}

.small {
    color: red;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.3rem;
}

.form-control.error {
    border-color: red !important;
}

@media (max-width: 767.98px) {
    a.subject, a.freinds, a.stars {
        font-size: 0.78rem;
    }
}