@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
	--bg:linear-gradient(90deg, rgba(33,147,176,1) 0%, rgba(9,102,121,1) 35%, rgba(109,213,237,1) 100%);
	--clip:circle(120px at center);
	--transi:0.6s;
	--lef:39%;
	--haut:250px;
	--left_un:20%;
	--opacite:0;
	--cache:hidden;
	--marge_img:0.5;
	--bg_cadre:transparent;
	--over_flo:hidden;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}
body{
	background-color: #7F7FD5;
}
nav{
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

}
#cadre{
	height: 100%;
	margin: 0;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 500px;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	box-shadow:none !important;
	outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
.type_msg:focus{
	box-shadow:none !important;
	outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
.bule_par .user_info{
	clear: left;
	position: absolute;
	top: 65%;
	left: 20%;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #82ccdd;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #78e08f;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.center {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.popup {
	display: inline-grid;
	justify-content: center;
	/*align-items: center;*/
	flex-wrap: wrap;
	box-sizing: content-box;
	min-height: 100vh;
	width:100%;
	height:130%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	/*#f5f5f5;*/
	border-radius:10px;
	/*box-sizing:border-box*/;
	z-index:2;
	text-align:center;
	opacity:0;
	top:-200%;
	transform:translate(-50%,-50%) scale(0.5);
	transition: opacity 300ms ease-in-out,
	top 1000ms ease-in-out,
	transform 1000ms ease-in-out;
}
.popup.active {
	opacity:1;
	top:50%;
	height: 100%;
	width: 100%;
	transform:translate(-50%,-50%) scale(1);
	transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
	/*margin:5px 0px;*/
	margin-right: 5rem;
	width:50px;
	height:50px;
	border:2px solid #34f234;
	text-align:center;
	display:inline-block;
	border-radius:50%;
	/*line-height:60px;*/
}
.popup .icon i.fa {
	font-size:30px;
	color:#34f234;
	position: relative;
	margin-right: 5rem;
}
.popup .title {
	margin:5px 0px;
	font-size:30px;
	font-weight:600;
}
.popup .description {
	color:#222;
	/*display: flex;*/
	margin-top: 0px;
	justify-content: center;
	font-size:15px;
	padding:0px;
}
.popup .dismiss-btn {
	position: absolute;
	top: 55%;
	display: unset;
	margin-top:15px;

}
.popup .dismiss-btn button {
	display: unset;
	padding:10px 20px;
	background:#111;
	color:#f5f5f5;
	border:2px solid #111;
	font-size:16px;
	font-weight:600;
	outline:none;
	border-radius:10px;
	cursor:pointer;
	transition: all 300ms ease-in-out;
}
.popup .dismiss-btn button:hover {
	color:#111;
	background:#f5f5f5;
}
.popup > div {
	position:relative;
	top:10px;
	opacity:0;
}
.popup.active > div {
	top:0;
	opacity:1;
	padding: 2px;
}
.popup.active .icon {
	position: absolute;
	left: 50%;
	top: 2.5%;
	transition: all 350ms ease-in-out 270ms;
}
.popup.active .title {
	position: absolute;
	left: 56%;
	transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
	margin-top: 3px;
	transition: all 300ms ease-in-out 350ms;
}
.popup.active .dismiss-btn {
	position: absolute;
	top: 80%;
	left: 50%;
	transition: all 300ms ease-in-out 400ms;
}

.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;

}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

.glob{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.cardre{
	position: relative;
	width: 500px;
	height: 300px;
	/*background: #ccc;*/
	border-radius: 20px;
	display: flex;
	align-items: flex-start;
	transition: 0.6s;
	background: var(--bg_cadre);
}
/*.cardre:before{
	background: var(--bg_cadre);
}*/
.cardre .cercle{
	position: absolute;
	top: 0;
	left: -3%;
	width: 100%;
	height: 100%;
	overflow: var(--over_flo);
}
.cardre .cercle:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg);
	clip-path: var(--clip);
	/*overflow: var(--over_flo);*/
	/*transform: translate(50%,-50%);*/
}
/*.cardre:hover .cercle:before{
	clip-path: circle(400px at center);
	background: #0065c3;

}*/
.cardre img{
	position: absolute;
	top: 3%;
	left: var(--lef);
	width: 200px;
	transform: translate(-35%,-15%);
	height: var(--haut);
	pointer-events: none;
	border-radius: 7px;
	transition: 0.6s;
	margin-left: var(--marge_img);
}
/*.cardre:hover img{
	top: 0.5%;
	left: 68%;
	height: 400px;
	width: 350px;
}*/
.cardre .contenue_cadre{
	position: relative;
	left: var(--lef_un);
	width: 50%;
	padding: 20px 20px 20px 40px;
	transition: 0.5s;
	opacity: var(--opacite);
	visibility: var(--cache);
}
/*.cardre:hover .contenue_cadre{
	left: 0;
	opacity: 1;
	visibility: visible;
}*/
.cardre .contenue_cadre h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
	padding-right: 5px;
	padding-left: 0px;
	text-align: center;
	margin-right: 3.5%;
	margin-bottom: 5px;
}
.cardre .contenue_cadre p{
	/*margin-right: 20%;*/
	margin-left:-10% ;
	color: #fff;
}
.cardre .contenue_cadre a{
	/*color: #fff;*/
	padding: 10px 20px;
	border-radius: 10px;
	background: #fff;
	color: #111;
	margin-top: 10px;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
}
@media (max-width: 991px){
	.cardre{
		width: auto;
		max-width: 350px;
		align-items: flex-start;
		margin: 10px;
	}
	.cardre:hover{
		height: 600px;

	}
	.cardre .contenue_cadre{
		width: 100%;
		left: 0;
		padding: 30px;
	}
	.cardre:hover img{
		top: 70%;
		left: 50%;
		height: 300px;

	}
}
@media (max-width: 420px){
	.cardre .contenue_cadre{
		padding: 30px;
	}
}
@media(max-width: 576px){
	.contacts_card{
		margin-bottom: 15px !important;
	}
}