@import url(../fonts/fonts.css);

html, body {
    font-family: 'Product Sans Thin Regular', 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Product Sans Thin Regular', 'Lato', sans-serif;
}

a:hover {
    color: white;
}

.bg {
    background: url("../../images/font.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.btn-cool {
    pointer-events: none;
    border-radius: 6px;
    height: 2rem;
    padding-top: 0.3rem;
}

#select-cool {
    width: 400px;
    height: 2rem;
    margin-left: 0.01rem;
}

#info {
    width: 400px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    height: 6rem;
    padding-top: 0;
    padding-bottom: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text.mt-3 {
    padding: 5px;
}

/*Form register Css*/
.form-control {
    border-radius: 0;
    font-family: 'Lato', 'Product Sans Thin Regular', sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
}

.title-custum {
    padding: 1rem;
    background: linear-gradient(to top, rgb(51, 181, 229) 0%, rgb(51, 181, 229) 2px, transparent 3px) no-repeat;
    background-size: 100% 100%;
    transition: background-size .3s;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

.title-custum:hover {
    background-size: 0 100%;
}

.underline {
    width: 25rem;
    height: 0.2rem;
    background: rgb(51, 181, 229);
    display: inline-block;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}


.select {
    height: calc(1.5em + 0.75rem + 2px);
    width: 100%;
    color: #495057;
    font-family: 'Lato', 'Product Sans Thin Regular', sans-serif;
    font-weight: 100;
    border: 1px solid #ced4da;
    transition: all 0.5s ease;
}

.select::-ms-value {
    font-family: 'Lato', 'Product Sans Thin Regular', sans-serif;
}

.form-control::placeholder, option, .btn {
    font-family: 'Lato', 'Product Sans Thin Regular', sans-serif;
    font-weight: 100;
}

.form-control:focus, .select:focus {
    outline: 0;
    border-color: rgb(51, 181, 229);
    box-shadow: 0 0 0 1px rgba(51, 181, 229, .3);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .form-box {
    width: 40rem;
}

.form-container .fm-inline, .form-container .date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fm-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm-btn-container .fm-btn {
    width: 30%;
}

.fm-p {
    padding: 2rem 4rem;
    font-weight: 700;
}

.password-eye {
    position: absolute;
    top: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    left: 1rem;
}

.form-container .fm-item, .form-container .date-item {
    position: relative;
    width: 100%;
}

i {
    transition: color 0.5s ease;
}


.icon {
    color: grey !important;
    font-size: 15px;
    transition: all 0.5s ease;
}

.icon.active {
    color: #33B5E5 !important;
}

.icon.icon-float-1 {
    position: absolute;
    top: 50%;
    left: 4%;
    color: grey;
}

.icon.icon-float-2 {
    position: absolute;
    top: 50%;
    left: 9%;
    color: grey;
}

.form-control.error {
    border-color: red !important;
}

.icon.error {
    color: red !important;
}

.input-custum-pd {
    padding-left: 2.5rem;
}

.small {
    color: red;
    font-family: 'Product Sans Thin Regular', 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    padding-left: 0.3rem;
}

.form-container .select.phone {
    position: absolute;
    top: 0;
    left: 5%;
    width: 25%;
}

.form-control.phone {
    padding-left: 6rem;
}

.form-container .space {
    padding-left: 1rem;
}

.ps {
    padding: 2.3rem 0 0 0;
}

.fm-item.radio {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.finalize-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

/*Main loader*/
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.waiting {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: all 1s ease-in-out;
}

.waiting.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

/*Register Loading*/
.loader-conatiner {
    position: absolute;
    opacity: 0;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.rezise {
    width: 3rem !important;
    height: 3rem !important;
    color: #33B5E5 !important;
}

.cloud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all .3s ease;
}


.cloud.active, .loader-conatiner.active {
    opacity: 1;
    z-index: 999;
}

.loader-conatiner .spinner-grow {
    width: 5rem !important;
    height: 5rem !important;
}

.reziseInter {
    width: 1rem !important;
    height: 1rem !important;
}

.loader-label {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Medi Queries*/
@media (min-width: 320px ) and (max-width: 450px) {
    .card {
        align-items: center;
        margin: 0 auto;
    }

    .nav-item.avatar {
        margin-left: 8px;
    }
}

@media (min-width: 450px ) and (max-width: 999px) {
    .card {
        margin: 0 auto;
    }

    .nav-item.avatar {
        margin-left: 8px;
    }
}

@media (max-width: 780px) {
    .form-container .form-box {
        width: 90%;
    }

}

@media (max-width: 680px) {
    .form-container .form-box {
        width: 90%;
    }

    .form-container .form-box {
        padding: 1rem !important;
    }

    .form-container .fm-inline {
        flex-direction: column;
    }

    .form-container .fm-item.space {
        padding-left: 0;
    }

    .form-container .date-item.space {
        padding-left: 1rem;
    }

    .icon.icon-float-2 {
        left: 4%;
    }

    .fm-btn-container .fm-btn {
        width: 60%;
    }

    .loader-conatiner {
        top: 30rem;
    }
}

@media (max-width: 573px) {

    .underline {
        width: 10rem;
        top: 3.2rem;
    }

}

@media (min-width: 574px) and (max-width: 589px) {
    .underline {
        width: 10rem;
        top: 3.5rem;
    }
}

@media (min-width: 320px) and (max-width: 382px) {
    .underline {
        width: 10rem;
        top: 4.5rem;
    }
}